name: Draw ZMK keymaps
on:
  workflow_dispatch:
  push:
    paths:
      - "config/*.keymap"
      - "config/*.dtsi"
      - "config/*.json"
      - "keymap_drawer.config.yaml"

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      keymap_patterns: "config/imprint_dongle.keymap"
      config_path: "keymap_drawer.config.yaml"
      output_folder: "keymap-drawer"
      draw_args: "imprint_dongle:'-j config/imprint_dongle.json'"
